<script type="text/javascript">
  RED.nodes.registerType("grove-rgb-led-strip", {
    category: "grove-base-hat",
    color: "#a6bbcf",
    defaults: {
      name: { value: "" },
      port: { value: 12 },
      count: { value: 30 },
      pattern: { value: 1 },
      color: { value: "FF0000" },
    },
    inputs: 1,
    outputs: 1,
    icon: "light.png",
    label: function () {
      return this.name || "grove-rgb-led-strip";
    },
  });
</script>

<script type="text/x-red" data-template-name="grove-rgb-led-strip">
  <div class="form-row">
      <label for="node-input-port"><i class="fa fa-list"></i> Port</label>
      <select id="node-input-port">
    <option value="12">D12 (PWM)</option>
    <option value="18">D18</option>
   </select>
  </div>

  <div class="form-row">
      <label for="node-input-count"><i class="fa fa-list"></i> Number of LEDs</label>
      <select id="node-input-count">
    <option value="30">30</option>
    <option value="60">60</option>
    <option value="144">144</option>
   </select>
  </div>

  <div class="form-row">
      <label for="node-input-pattern"><i class="fa fa-list"></i> Pattern</label>
      <select id="node-input-pattern">
    <option value="0">Off</option>
    <option value="1">Color Wipe</option>
    <option value="2">Theater Chase</option>
    <option value="3">Rainbow</option>
    <option value="4">Rainbow Cycle</option>
    <option value="5">Theater Chase Rainbow</option>
   </select>
  </div>

  <div class="form-row">
      <label for="node-input-color"><i class="fa fa-list"></i> Color</label>
      <input id="node-input-color" type="color" />
  </div>

  <div class="form-row">
      <label for="node-input-name"><i class="icon-tag"></i> Name</label>
      <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/x-red" data-help-name="grove-rgb-led-strip">
  <p>The node controls Grove RGB LED strip.</p>
  <h3>Input</h3>
      <dl class="message-properties">
      <dt>payload
          <span class="property-type">object</span>
      </dt>
      <dd>The payload for the Grove RGB LED strip node.</dd>
  <h3>Details</h3>
  <p>This node controls a Grove RGB LED strip.</p>
</script>
